body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3 {
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
  outline: none;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section-padding {
  padding-top: 96px;
  padding-bottom: 96px;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

/* ==========================================================Common Modal ================================================== */
.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
/* ========================================================= Header ========================================================= */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-nav__logo-accent {
  color: #2e2f42;
}

.header-nav__list {
  display: none;
}

.header-adress__list {
  display: none;
}

.header-button-hamb {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
}

.header-button-icon {
  fill: #2f2f37;
}

/* ===================================================  Main Hero style ======================================================*/

.hero-page {
  max-width: 320px;
  margin: auto;
  background: rgba(46, 47, 66, 0.7);
  color: #ffffff;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-section/hero-bg320.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn {
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
}

/* ======================================================  Main Advantages style =======================================================*/

.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.advantages-item__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  width: 100%;
  margin-bottom: 8px;
}

.advantages-item__img {
  display: none;
}

.advantages-item__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.advantages-item__descr {
  letter-spacing: 0.02em;
}

/* =======================================================  Main Team style ===================================================*/

.team-page {
  background: #f4f4fd;
}

.container-team {
  padding-left: 28px;
  padding-right: 28px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item__pers {
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.team-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-item__descr {
  letter-spacing: 0.02em;
  text-align: center;
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

/* ========================================================  Main Portfolio style ========================================================*/

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item__overlay,
.advantages-item:focus .portfolio-item__overlay {
  transform: translateY(0%);
}

.portfolio-item__info {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item__descr {
  letter-spacing: 0.02em;
}

/* ===========================================================  Footer style =========================================================*/

.footer-page {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 72px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-descr {
  max-width: 264px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6;
}

.footer-form-btn {
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* ========================================================= Modal :window ===================================================*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 16px 24px;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  overflow: auto;
  padding: 72px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-slogan {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.form-review-wrapper {
  margin-bottom: 8px;
}

.form-review-wrapper-comment {
  margin-bottom: 16px;
}

.form-review-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-review-input-wrapper {
  position: relative;
}

.form-review-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-review-input--input {
  height: 40px;
  padding-left: 38px;
}

.form-review-input--comment {
  height: 120px;
  padding: 8px 16px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.form-review-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.form-review-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-review-input:focus + .form-review-input-icon {
  fill: #4d5ae5;
}

.form-review-input--comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-review-checkbox-wrapper {
  margin-bottom: 24px;
}

.form-review-label-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-review-checkbox:checked
  + .form-review-label-checkbox
  > .form-review-label-custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.form-review-checkbox:focus
  + .form-review-label-checkbox
  > .form-review-label-custom-checkbox {
  border-color: #4d5ae5;
}

.form-review-label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-review-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.form-review-btn {
  color: #ffffff;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) { */
/* ===================================================== Header Modal Menu =========================== */
.modal-mobil-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-mobil-menu-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-menu {
  min-height: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobil-header-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobil-header-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 40px;
}

.mobil-header-nav__item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobil-header-nav__item:first-child .mobil-header-nav__link {
  color: #404bbf;
}

.mobil-header-adress {
  font-style: normal;
}

.mobil-header-adress__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 48px;
}

.mobil-header-adress__item:first-child .mobil-header-adress__link {
  color: #4d5ae5;
}

.mobil-header-adress__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobil-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mobil-social-link:hover,
.mobil-social-link:focus {
  background-color: #31d0aa;
}

.modal-mobil-menu-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* } */

/* =================================================== 768 Media ======================================================= */

@media screen and (min-width: 768px) /* and (max-width: 1157px) */ {
  /* ================= 768 common style */
  .container {
    max-width: 768px;
  }

  /* ===================== 768 section Header */
  .header-nav {
    justify-content: space-between;
  }

  .header-nav__logo {
    margin-right: 120px;
  }

  .header-nav__list {
    display: flex;
    column-gap: 40px;
  }

  .header-nav__item:first-child .header-nav__link {
    color: #404bbf;
  }

  .header-nav__item:first-child .header-nav__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    bottom: -1px;
    left: 0;
  }

  .header-nav__link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav__link:hover,
  .header-nav__link:focus {
    color: #404bbf;
  }

  .header-adress {
    font-style: normal;
  }

  .header-adress__list {
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .header-adress__link {
    display: block;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress__link:hover,
  .header-adress__link:focus {
    color: #404bbf;
  }

  .header-button-hamb {
    display: none;
  }

  /* ===================== 768 section Hero */
  .hero-page {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-bg768.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /* ===================== 768 section Advantages style */
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .advantages-item {
    max-width: calc((100% - 24px) / 2);
  }

  .advantages-item__title {
    text-align: start;
  }

  /* ======================= 768 section Team style */
  .container-team {
    padding-left: 108px;
    padding-right: 108px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
  /* ======================= 768 section Portfolio style */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    min-width: calc((100% - 24px) / 2);
  }

  .portfolio-item__img {
    width: 356px;
  }

  /* ======================= 768 section Footer style */

  .footer-container {
    padding-left: 108px;
    padding-right: 108px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 24px;
  }

  .footer-logo {
    text-align: start;
  }

  .footer-social-title {
    text-align: start;
  }

  .footer-form-wrapper {
    align-items: start;
  }

  .footer-form {
    flex-direction: row;
    column-gap: 24px;
    justify-content: start;
  }
  /* ==============================768 modal form=================== */
  .modal {
    width: 408px;
    min-height: 564px;
  }
}

/* ================================================================== Media 1158 =============================================================*/

@media screen and (min-width: 1158px) {
  /* ================= common style 1158*/
  .container {
    max-width: 1158px;
  }
  .section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ===================== section Header 1158*/

  .header-nav__logo {
    margin-right: 76px;
  }

  .header-adress__list {
    padding-bottom: 24px;
    padding-top: 24px;
    flex-direction: row;
    gap: 40px;
  }

  /* ===================== section Hero 1158*/
  .hero-page {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/people-office1158.jpg);
  }

  .hero-title {
    margin-bottom: 55px;
  }

  /* ===================== section Advantages style 1158*/
  .advantages-list {
    column-gap: 24px;
  }

  .advantages-item {
    max-width: calc((100% - 72px) / 4);
  }

  .advantages-item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-item__img {
    display: block;
  }

  .advantages-item__icon {
    display: block;
    margin: 24px auto;
  }

  /* ======================= section Team style 1158*/
  .container-team {
    padding-left: 16px;
    padding-right: 16px;
  }

  .team-list {
    row-gap: 24px;
  }

  .team-item {
    max-width: calc((100% - 72px) / 4);
  }

  /* ========================= section Portfolio style 1158*/
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    min-width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  /* ======================= section Footer style 1158*/
  .footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    padding-left: 15px;
    padding-right: 15px;
    align-items: baseline;
    justify-content: start;
    gap: 0;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-form-title {
    margin-bottom: 16px;
  }
}

/* ====================================================== Retina media ============================================================= */
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-bg320@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi) {
  .hero-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-bg768@2x.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/people-office1158@2x.jpg);
  }
}
